<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz7K3fqXan1jTAiMg7n7L_iIhRNVmD8u0</string>
	<key>GCM_SENDER_ID</key>
	<string>929965411319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nutricare.nutricare</string>
	<key>PROJECT_ID</key>
	<string>nutricare-23140</string>
	<key>STORAGE_BUCKET</key>
	<string>nutricare-23140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929965411319:ios:6552eb5f8339a9542cbcf2</string>
</dict>
</plist>